<html>
<header>
    <title>QuoteDojo</title>
</header>
<body>
<form action="/quotes" method="post">
    <label>User name</label>
    <input type="text" name="name">
    <label>Quote</label>
   <textarea type="text" name="quote"></textarea>
    <input type="submit">
    <a href="/quotes">Skip to Quotes</a>
</form>
</body>
</html>